body {
    margin: 0;
    padding: 0;
    min-height: 500px;
    height: 100%;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Navigation */

.navigation-container {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.navigation-item {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    animation-fill-mode: forwards;
    font-family: inherit;
}

.navigation-item img {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.navigation-item.active {
    pointer-events: auto;
}

.nav-text {
    display: block;
    color: white;
    margin-top: 5px;
}

.hidden-slide {
    animation: slideInFromLeft 0.5s ease-out 4s forwards; 
    opacity: 0; 
    pointer-events: none;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Windows */

.floating-window {
    display: none;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 60%;
    height: 70%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1001;
    overflow-y: auto;
}

.window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    position: sticky;
    top: 0; 
    background-color: white; 
    padding: 10px 20px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    z-index: 10; 
}


.window-header::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    visibility: hidden;
}

.window-title {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.close-btn {
    border: none;
    background: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    left: 0;
}

.close-btn:hover {
    color: red;
}

.draggable {
    cursor: move;
}

.resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background: #ccc;
    cursor: nwse-resize;
    z-index: 10;
}

@keyframes closeAnimation {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
        visibility: hidden; 
    }
}

.closing {
    animation: closeAnimation 0.5s ease forwards; 
}

@keyframes openAnimation {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.opening {
    animation: openAnimation 0.5s ease forwards; 
}

/* About */

#window1 .about-content {
    padding: 20px;
    text-align: center; 
}

#window1 .profile-picture {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    margin-bottom: 20px;
}

#window1 h3 {
    margin: 0;
    color: #333; 
    font-size: 1.5em; 
    margin-bottom: 10px; 
}

#window1 .bio {
    font-size: 1em;
    margin-bottom: 20px; 
    color: #666; 
}

#window1 .social-media-links {
    margin-top: 20px;
}

#window1 .social-link {
    margin: 0 10px;
    color: #007bff; 
    text-decoration: none; 
}

#window1 .social-link:hover {
    text-decoration: underline; 
}


/* Pictures */

#window2 .content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: auto; 
    overflow-y: auto; 
    padding-right: 5px; 
}

#window2 .content-container img {
    width: 100%; 
    height: auto; 
    display: block;
}

/* Videos */

#window3 .video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
    padding: 20px; 
}

.video-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.youtube-video {
    width: 100%; 
    height: 0; 
    padding-top: 56.25%; 
    position: relative; 
}

.youtube-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video-description {
    margin-top: 10px;
    text-align: center;
    color: #666;
    font-size: 0.9em;
}


/* Responsive Design for Smaller Screens */
@media screen and (max-width: 768px) {
    #window3 .video-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media screen and (max-width: 480px) {
    #window3 .video-container {
        grid-template-columns: 1fr; 
    }
}


/* Footer */

.taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2em;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-icons img {
    margin: 0 10px;
    width: 1.5em;
    height: auto;
    vertical-align: middle;
}

.time {
    font-size: 1em;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

